<?php /** @var \Magento\Framework\View\Element\Template $block */?>
<div class="modular-row callout showcase-services">
    <div class="max-width">
        <h2 class="title">Our Services</h2>

        <div class="services">

            <div class="service">
                <a href="/services/magento2-development">
                    <span class="image">
                        <img src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/services/magento2-development.png')); ?>" alt="Magento 2 Development">
                    </span>
                    <h3 class="section-header">
                        Magento 2 Development
                    </h3>
                </a>

                <p class="service-text">Achieve your goals with our best in class Magento development services</p>

            </div>

            <div class="service">
                <a href="/services/technical-consulting">
                    <span class="image">
                        <img src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/services/technical-consulting.png')); ?>" alt="TECHNICAL CONSULTING">
                    </span>
                    <h3 class="section-header">
                        TECHNICAL CONSULTING
                    </h3>
                </a>

                <p class="service-text">Boost development by adding a dedicated technical consultant into your Magento project</p>

            </div>

            <div class="service">
                <a href="/services/magento2-migration">
                    <span class="image">
                        <img src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/services/magento2-migration.png')); ?>" alt="Magento 2 Migration">
                    </span>
                    <h3 class="section-header">
                        Magento 2 Migration
                    </h3>
                </a>

                <p class="service-text">Achieve maximum heights with new Magento 2 platform and ecommerce opportunities</p>

            </div>

            <div class="service">
                <a href="/services/architectural-advisory">
                    <span class="image">
                        <img src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/services/architectural-advisory.png')); ?>" alt="ARCHITECTURAL ADVISORY">
                    </span>
                    <h3 class="section-header">
                        ARCHITECTURAL ADVISORY
                    </h3>
                </a>

                <p class="service-text">Convert business expectations into step-by-step architectural documents and technical guidances</p>

            </div>

            <div class="service">
                <a href="/services/systems-integration">
                    <span class="image">
                        <img src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/services/systems-integration.png')); ?>" alt="SYSTEMS INTEGRATION">
                    </span>
                    <h3 class="section-header">
                        SYSTEMS INTEGRATION
                    </h3>
                </a>

                <p class="service-text">Connect ERP and CRM systems via robust and reliable integration in your ecommerce store</p>

            </div>

            <div class="service">
                <a href="/services/code-audit">
                    <span class="image">
                        <img src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/services/code-audit.png')); ?>" alt="CODE AUDIT">
                    </span>
                    <h3 class="section-header">
                        CODE AUDIT
                    </h3>
                </a>

                <p class="service-text">Ensure optimal functionality, high code quality and performance of your Magento 2 implementation</p>

            </div>
        </div>

        <div class="button-container">
            <a href="services.html" class="action button large">All Services</a>
        </div>
    </div>
</div>
